body {
  padding: 0 1.0416666666666665%;
  margin: 0;
}
/**
* ROW
* @columns {int} number of columns in the grid
* @gutter {int} percentage width of gutters
* 
* Now factoring for optional gutter width. Browsers that dont support the box-sizing rule (<=IE7) will need to account for gutters on grid items. The gutter needs to be offset in the row mixin
*/
/**
* COLUMN
* @x {int} number of columns each grid item should take up
* @columns {int} number of columns in the grid
* @gutter {int} percentage width of gutters
* @padding {int} percentage width of left and right padding on grid items
*
* Now factoring for optional gutter width and padding. Browsers that dont support the box-sizing rule (<=IE7) will need to account for padding and gutters on grid items. Both padding and gutter need to be offset from the item width in the grid mixin
* 
* TODO: We need to factor for borders in browsers that dont support box-sizing. This is difficult because borders can be specified as a pixel width and our calculations are in percentages. Borders are not allowed to be set as percentage widths.
*/
#container {
  max-width: 1300px;
  margin: 0 auto;
}
header {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  width: 102.08333333333333%;
  margin: 0 -1.0416666666666665%;
  background-color: black;
}
header h1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  padding: 0 0%;
  padding: 1em 0;
  color: white;
}
article {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  width: 102.08333333333333%;
  margin: 0 -1.0416666666666665%;
  margin-top: 10px;
}
article section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  padding: 0 0%;
}
article section ul.boxes {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  width: 103.125%;
  margin: 0 -1.5625%;
  padding: 0;
}
article section ul.boxes li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  float: left;
  width: 21.875%;
  margin: 0 1.5625%;
  padding: 0 0%;
  border: 5px solid #ccc;
  /*In browsers that support box-sizing, you can add borders directly onto the grid item, allowing for cleaner markup*/

  padding: 10px;
  /*In browsers that support box-sizing, you can add padding directly onto the grid item, allowing for cleaner markup*/

  list-style: none outside none;
  text-align: center;
  background-color: #e9e9e9;
}
article aside {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  padding: 0 0%;
  background-color: #e9e9e9;
}
footer {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  width: 102.08333333333333%;
  margin: 0 -1.0416666666666665%;
  margin-top: 20px;
}
footer div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  padding: 0 0%;
  background-color: #e9e9e9;
}
